# Desktop enviroment #
*.directory
*~

# Compiled Objects #
*.o
*.obj

# Compiled Static libraries #
*.a
*.lib

# Linker outputs
*.map
*.lss
*.lst

#IDE files
*.pbd

# Executables #
*.exe
*.out
*.app
*.elf
*.axf
*.hex
*.bin
