# Desktop environment
*.directory
*~

# Compiled Objects
*.o
*.obj
*.rel

# Compiled Static libraries
*.a
*.lib

# Linker outputs
*.map
*.lss
*.lst

# IDE files
*.pbd
*.cseg
*.CSEG
*.xrf
*.XRF
*.html
*.cbTemp
*.depend
*.layout

# Executables
*.exe
*.out
*.app
*.elf
*.axf
*.hex
*.bin

# Other files
*obj*
*bin*
